.title-text {
  font: normal bold 50px/72px;
  font-family: Roboto, cursive;
}

.text-uppercase {
  text-transform: uppercase;
}

p, .para {
  color: black;
  font: normal 500 16px/ 25px;
  font-family: roboto, cursive;
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 768px) {
  html, body {
    position: relative;
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .navbar-wrapper .navbar .container-fluid button {
    border-color: white;
    margin-right: -2em;
  }
  .navbar-wrapper .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar-wrapper .navbar .navbar-nav .nav-item a {
    color: #ffffff;
  }
  .navbar-wrapper .navbar .navbar-nav .nav-item a:hover {
    color: #ff6633;
  }
  .header-section {
    width: 100%;
    margin-top: -6em;
  }
  .header-section .banner-info .site-buttons .btn-primary {
    margin-left: 0.6em;
    margin-bottom: 1em;
  }
  .header-section .banner-info .site-buttons .btn-light {
    font-size: 0.9em;
  }
  .header-section .banner-img img {
    margin-top: 5em;
  }
  .project-area {
    width: 100%;
  }
  .project-area .container-fluid {
    margin-left: -8px;
  }
  .project-area .container-fluid .grid .element .card-body {
    margin-top: -15px;
  }
  .project-area .container-fluid .grid .element .card-body .card-title {
    padding-bottom: 15px;
    text-align: left;
  }
  .project-area .container-fluid .grid .element .card-body .card-text {
    text-align: left;
  }
  .project-area .container-fluid .button-group button {
    padding: 10px 10px;
    color: #ffffff;
    margin: 5px 2px;
  }
  .about-area {
    width: 100%;
  }
  .about-area .let-image .about-image img {
    margin-left: -3em;
  }
  .about-area .about-two {
    padding-left: 2em;
  }
  .about-area .about-two .text-uppercase {
    color: #ffffff;
    font-weight: 400;
  }
  .about-area .about-two .para {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding-left: 1em;
    border-radius: 8px;
  }
  .about-area .about-two .sech2 {
    padding-top: 3em;
    margin-bottom: 1.5em;
  }
  .mentor-area {
    width: 100%;
  }
  .mentor-area .mentor-title {
    margin-left: -20px;
    border-radius: 4px;
  }
  .mentor-area .mentor-title .title-text {
    margin-left: -240px;
    color: #ffffff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 450px;
  }
  .mentor-area .mentor-title .para {
    min-width: 450px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: -240px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 25px;
  }
  .mentor-area .mentor-list {
    padding-top: 50px;
    min-width: 100px;
    padding-left: 50px;
  }
  .mentor-area .mentor-list .mentors {
    border-radius: 8px;
    margin-top: 10px;
  }
  .mentor-area .mentor-list .mentors .card-body {
    padding-top: 0;
  }
  .mentor-area .mentor-list .mentors .card-body .card-title {
    padding-bottom: 10px;
  }
  .certifications {
    margin-left: 1.2em;
  }
  .contactsection {
    width: 100%;
  }
  .contactsection .form {
    margin-left: 1.5em;
  }
  .contactsection .img {
    margin-left: -1em;
  }
  footer {
    margin-right: -2.5em;
  }
  footer .footer-area p {
    font-size: 11px;
  }
  footer .footer-area .right-two a {
    margin-top: 50px;
  }
}

html, body {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%235e2d81'/%3E%3Cstop offset='1' stop-color='%239648cd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%235b818f'/%3E%3Cstop offset='0.09' stop-color='%2372a2b3'/%3E%3Cstop offset='0.18' stop-color='%2381b6c9'/%3E%3Cstop offset='0.31' stop-color='%238cc7db'/%3E%3Cstop offset='0.44' stop-color='%2394d2e8'/%3E%3Cstop offset='0.59' stop-color='%239bdbf2'/%3E%3Cstop offset='0.75' stop-color='%23a0e2fa'/%3E%3Cstop offset='1' stop-color='%23a3e7ff'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 100px;
}

.navbar-wrapper .navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-wrapper .navbar-light .navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-wrapper .navbar-brand {
  padding-left: 20px;
  color: #ffffff;
}

.navbar-wrapper .navbar-brand:hover {
  color: #ffffff;
}

.navbar-wrapper .navbar-nav li {
  padding: 5px 30px;
}

.navbar-wrapper .navbar-nav li, .navbar-wrapper .navbar-nav a {
  font-weight: 400;
}

.header-section {
  padding-bottom: 100px;
}

.header-section .header-main .banner-info {
  margin-top: 130px;
  padding-left: 30px;
}

.header-section .header-main .banner-info h1 {
  font-size: 3.2rem;
  color: whitesmoke;
}

.header-section .header-main .banner-info h3 {
  color: whitesmoke;
  padding-top: 35%;
  font-weight: 500;
}

.header-section .header-main .banner-info h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(hotpink), color-stop(blue), to(white));
  background: linear-gradient(to left, white, hotpink, blue, white);
  display: inline-block;
  margin-left: 5%;
}

.header-section .header-main .banner-info h4 {
  font-size: 1.5rem;
  color: whitesmoke;
}

.header-section .header-main .banner-info .site-buttons .site-buttons, .header-section .header-main .banner-info .site-buttons .btn {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px;
  position: relative;
  border: 3px solid transparent;
  border-radius: 8px;
}

.header-section .header-main .banner-info .site-buttons .btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: whitesmoke;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  -webkit-box-shadow: root(box-shadow);
          box-shadow: root(box-shadow);
}

.header-section .header-main .banner-info .site-buttons .btn-primary:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.header-section .header-main .banner-info .site-buttons .btn-primary:hover::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: root(gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.header-section .header-main .banner-info .site-buttons .btn-light {
  background: whitesmoke;
  background-clip: padding-box;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  margin-left: 10px;
}

.header-section .header-main .banner-info .site-buttons .btn-light:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  color: whitesmoke;
  -webkit-box-shadow: root(box-shadow);
          box-shadow: root(box-shadow);
}

.header-section .header-main .banner-info .site-buttons .btn-light:hover::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: root(gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.header-section .header-main .banner-img {
  margin-top: 3px;
}

.project-area {
  padding: 4rem 0;
}

.project-area .title-h1 {
  padding-left: 40px;
  color: white;
}

.project-area .grid {
  padding: 0 35px;
}

.project-area .grid .element {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 20rem;
  margin: 2rem 1rem;
  -webkit-transition: -webkit-box-shadow 0.7s ease;
  transition: -webkit-box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease, -webkit-box-shadow 0.7s ease;
  border-radius: 8px;
  border: solid 1px whitesmoke;
}

.project-area .grid .element:hover {
  -webkit-filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
          filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-area .button-group button + button {
  padding-left: 3rem;
}

.project-area button {
  margin-right: 80px;
}

.project-area .button-group {
  padding-left: 40px;
}

.about-area {
  margin-top: 150px;
  padding-bottom: 50px;
}

.about-area .container-fluid .about-image {
  padding-left: 40px;
}

.about-area .container-fluid .about-title, .about-area .container-fluid h2, .about-area .container-fluid span {
  display: block;
  font: normal bold 49px/60px;
  font-family: roboto, cursive;
  letter-spacing: 21px;
}

.about-area .container-fluid .about-title, .about-area .container-fluid .paragraph, .about-area .container-fluid p {
  padding: .4rem 0;
  letter-spacing: 1px;
  font-family: roboto;
}

.about-area .container-fluid .btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: whitesmoke;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.about-area .container-fluid .btn-primary:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.about-area .container-fluid .btn-primary:hover::after {
  position: relative;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.mentor-area {
  padding: 7rem 2rem;
}

.mentor-area .mentors {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.mentor-area .mentors .card-title {
  font-size: 20px;
}

.mentor-area .mentor-title {
  padding: 0 14rem;
}

.mentor-area .mentor-title h1 {
  font-size: 35px;
}

.certifications {
  -webkit-clip-path: polygon(50% 0%, 100% 11%, 100% 80%, 48% 100%, 0 92%, 0 0);
  clip-path: polygon(50% 0%, 100% 11%, 100% 80%, 48% 100%, 0 92%, 0 0);
  background-color: #0A79DF;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  color: whitesmoke;
  background: rgba(0, 0, 255, 0.4);
}

.certifications #carouselExampleIndicators {
  width: 50%;
  margin: 0 auto;
  z-index: 20;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

#contact {
  margin-top: 100px;
  padding-bottom: 10px;
  margin-right: 100px;
}

#contactForm {
  background: rgba(248, 252, 253, 0.973);
  padding: 1.5rem 1.8rem;
  margin: 2rem 1rem;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.11);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.11);
  -webkit-transition: -webkit-box-shadow 0.7s ease;
  transition: -webkit-box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease;
  transition: box-shadow 0.7s ease, -webkit-box-shadow 0.7s ease;
  border-radius: 8px;
  border: solid 1px whitesmoke;
}

.form-control {
  padding: 10px 5px;
  border-radius: 10px;
}

.contactbutton .btn {
  background: #5e3d8e;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  padding: 10 50px;
  text-transform: uppercase;
  border-radius: 8px;
}

.contactbutton .btn:hover {
  border-color: none;
  color: #fff;
  background: #bb4092;
}

.contactbutton button {
  padding: 12px 10px;
}

footer {
  -webkit-clip-path: polygon(0 43%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 43%, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
  background: rgba(245, 245, 245, 0.6);
  color: white;
  padding: 15px 15px;
}

footer .right {
  margin-top: -18px;
  padding-right: 5px;
}

footer .right a, footer .right img {
  float: right;
  margin-top: -11px;
  background-color: transparent;
  padding-right: 5px;
}

footer .footer-area {
  z-index: 5;
  color: white;
}

footer .footer-area .right-two {
  float: right;
  margin-top: -55px;
}

footer .footer-area p {
  padding-top: 12px;
  color: black;
}

footer .footer-area .righty {
  padding-top: 12px;
  text-align: right;
  color: black;
  background: #c0fbff;
  font-size: smaller;
}
/*# sourceMappingURL=style.css.map */